<!-- add Header use ejs code-->
<%- include("header")   -%>
<div class="listname">
    <form action="/newlist" method="POST">
        <input type="text" name="listitle" placeholder="Creat Your New List">
        <button type="submit" name="list"  >+</button>
    </form>
</div>

<!-- add footer use ejs code-->
<%- include("footer")   -%>