<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <!-- not excess of css because of css/styles.css this path our computer than use express than only servup in package.json file in root of main path "main": "app.js", and views folder is only survup than this issu can solve by crete public folder add css folder and after survup folder in app.js file like app.use(express.static("public"))-->
    <link rel="stylesheet" href="css/styles.css">
</head>